/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.navbar{
  background: #1cb0f6
}
.jumbotron {
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;

}
.progress {
  background: #eef8da;
  border-color: chartreuse;
}

h5 {
  color:#999
}

h4 {
  color:#555
}

h3 {
  color: #555
}

.card img {
  height: 200px;
}

.secao {
  margin-top: 30px;
  margin-bottom: 30px
}

.preco {
  color: #f60;
  font-weight: bold;
  font-size: 20px
}
